body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* X */

    margin: 0;
    height: 100%;
    padding: 0;
    min-height: 100vh;

    background: url('./Pictures/purplebackground.jpg');
    background-size: cover;

     
}





div,h1,p{
    font-family: Roboto, Arial;
    
}

